/** @format */

:root {
  --grid-cols: 1;
  --grid-rows: 1;
}

#container {
  display: grid;
  height: 500px;
  width: 300px;
  padding: 50px;
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  grid-template-columns: repeat(var(--grid-cols), 1fr);
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
}
.grid-item {
  padding: 1em;
  border: 1px solid #ddd;
  text-align: center;
}

h1 {
  color: red;
  text-align: center;
  padding: 50px;
}

on_mouse_enter {
  border: 1px solid blue;
  background-color: blueviolet;
}
